/* Common styles*/
*{
    padding: 0;
    margin: 0;
}
html,body
{
    height: 100%;
    background: #d2d8db;
}
.box_shadow
{
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
img
{
    display: block;
    border: 0;
}
.loading
{
    font:bold 18px Tahoma;
    color: #999;
    text-align: center;
    margin-top: 50px;
}
.wrap
{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0; /* отрицательный нижний отступ на высоту футера */
}
.preloader
{
    position:absolute;
    left:13px;
    top:10px;
}
/* Search */
.search
{
    margin: auto;
    width: 330px;
}
.search__input
{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    background: #eee;
    border: 1px solid #555;
    font-size: 19px;
}
.search__btn
{
    width: 100px;
    height: 34px;
    position: relative;
    left: -4px;
    top:-1px;
    font:bold 14px Tahoma;
}

/* Album-bar */
.album-bar__container
{
    width: 100%;
    height: 180px;
    background: #595959;
    overflow: hidden;
    
}
.album-bar__items
{
    position: relative;   
}
.album-bar
{
    position: relative;
}
.album-bar__button
{
    padding: 5px;
    border: 1px solid #999;
    display: block;
    margin: -1px auto -30px auto;
}
.album-bar__album-element
{
    float: left;
    width: 75px;
    border: 5px solid #222;
    margin-left: 12px;
    position: relative;
}
.album-bar__album-element:hover
{
    border: 5px solid #eee;
    cursor: pointer;
}
.album-bar__album-element span
{
    background: #ccc;
    font:10px Segoe UI;
    color: #222;
    width: 75px;
    display: block;
    text-align: center;
    border-top: 1px solid #333;
}

/* Container */
.container
{
    height: 100%;
}
/* Preview-bar */

.preview-bar
{
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}
.preview-bar__container
{
    position: relative;
}
.preview-bar__bg
{
    opacity: 0.2;
    height: 100px;
    background: #000;
    width: 100%;
    z-index: -1;
}
.preview-bar__item
{
    cursor: pointer;   
}
.preview-bar_wrapp
{
    overflow: hidden;
    margin-top: -93px;
}
.preview-bar__border:hover
{
    border: 1px solid #000;
    opacity: 1;
}
.preview-bar__border
{
    opacity: 0.6;
    position: relative;
    float: left;
    border: 1px solid #888;
    padding: 5px;
    margin-left: 5px;
}
/* Large image */